@media all and (max-width: 1150px) {
    .header {
        justify-content: space-around;

        &__right {
            flex-direction: row;
        }

        &__social-text {
            margin-right: 50px;
        }
    }
}

@media all and (max-width: 800px) {
    .logo {
        display: none;
    }
}

@media all and (max-width: 700px) {
    .header {
        &__suptitle {
            font-size: 32px;
            letter-spacing: 4px;
        }

        &__title {
            font-size: 45px;
            letter-spacing: 16px;
        }
    }
}

@media all and (max-width: 500px) {
}
